.centered {
    margin: 0 auto;
}

.gallery img {
    background-color: #aaa;
    padding: 0;
    width: 100%; /* Make the image occupy 100% of the container's width */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #0430aa; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #0430aa; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* 
new 
stuff
*/
/* General styles */
body {
    font-family: 'Trebuchet MS', sans-serif;/*Arial, sans-serif; /* Use a common font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}


/* Style for the history section */
.history {
    width: 25%; /* Set the width */
}

/* Style for the history header */
.history h2 {
    font-weight: bold; /* Bold text */
    font-size: 24px; /* Larger font size */
}

/* Style for form elements inside history */
.history form {
    margin-bottom: 10px; /* Add some space below the form */
}

/* Style for select element inside form */
.history select {
    margin-right: 10px; /* Add some space to the right */
    padding: 5px; /* Add padding */
    border: 2px solid #0430aa; /* Add border */
    border-radius: 5px; /* Add border radius */
}

/* Style for buttons inside history */
.history button {
    margin-right: 10px; /* Add some space to the right */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 8px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    background-color: #0430aa; /* Blue background color */
    color: white; /* White text color */
}

/* Change button color on hover */
.history button:hover {
    background-color: #032178; /* Darker blue on hover */
}





/* Style for tab-select-bar */
.tab-select-bar {
    margin-bottom: 20px; /* Add some space below */
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: center; /* Center buttons horizontally */
}

/* Style for buttons inside tab-select-bar */
.tab-select-bar button {
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 8px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    background-color: #ccc; /* Light gray background color */
    color: #333; /* Dark gray text color */
}

/* Highlight currently chosen tab */
.tab-select-bar button.active {
    background-color: #335280; /* Blue background color */
    color: white; /* White text color */
}

/* Center the gallery section */
.gallery {
    width: 66%; /* Set the width */
    margin: 0 auto; /* Center horizontally */
    border: 2px solid #001d6d; /* Add border */
    border-radius: 10px; /* Add border radius */
    padding: 20px; /* Add padding */
}

/* Style for gallery name */
.history .gallery h2 {
    font-weight: bold; /* Bold text */
}

.tab-select-bar h1 {
    font-weight: bold;
}